section.hero{
    background-image: url('../images/4k.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}
.custom{
    opacity: 0.7;
}